/* 
    Created on : Feb 22, 2020, 2:39:34 PM
    Author     : Admin
*/
.parent{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
.pane{
   -fx-background-color: #2196f3;

    -fx-text-fill: white;
}
.trans-btn-white-border{
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-text-fill: white;
}
.white-pane{
    -fx-background-color: #ffffff;
    -fx-text-fill: white;
}
.blue-panel{
    -fx-background-color: #151928;
    -fx-text-fill: white;
}
.tf_box{
    -fx-background-color: transparent;
    -fx-border-color: #DEDEE4;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-text-fill: white;
}
.tf{
    -fx-background-color: transparent; 
    -fx-text-color: #ffffff;
    -fx-text-fill: white;
}
.blue-btn{
    -fx-background-color: #2196f3;
    -fx-background-radius: 5px;
    -fx-text-fill: #ffffff;
    -fx-text-fill: white;
}
